@font-face {
    font-family: 'Pouttu';
    font-weight: normal;
    src: url('./fonts/Pouttu.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy';
    font-weight: normal;
    src: url('./fonts/Gilroy-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy';
    font-weight: bold;
    src: url('./fonts/Gilroy-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Feather-Icons';
    font-weight: normal;
    src: url('./fonts/Feather-Icons.ttf') format('truetype');
}