$border: 1px solid theme-var(secondary-2);

//Priamary and secondario colors
$--theme-primary: --theme-primary;
$--theme-primary-1: --theme-primary-1;
$--theme-primary-2: --theme-primary-2;
$--theme-primary-3: --theme-primary-3;

$--theme-secondary: --theme-secondary;
$--theme-secondary-1: --theme-secondary-1;
$--theme-secondary-2: --theme-secondary-2;
// Element colors
$--theme-surface: --theme-surface;
$--theme-background: --theme-background;
//Text colors
$--theme-primary-text: --theme-primary-text;
$--theme-secondary-text: --theme-secondary-text;
//Basic Colors
$--theme-color-red: --theme-color-red;
$--theme-color-red-2: --theme-color-red-2;

$--theme-color-orange: --theme-color-orange;
$--theme-color-orange-2: --theme-color-orange-2;

$--theme-color-yellow: --theme-color-yellow;
$--theme-color-yellow-2: --theme-color-yellow-2;

$--theme-color-green: --theme-color-green;
$--theme-color-green-1: --theme-color-green-1;
$--theme-color-green-2: --theme-color-green-2;

$--theme-color-blue: --theme-color-blue;
$--theme-color-blue-2: --theme-color-blue-2;

$--theme-color-purple: --theme-color-purple;
$--theme-color-purple-2: --theme-color-purple-2;

$theme-map-defaults: (
    $--theme-primary: #0396ff,
    $--theme-primary-1: #0396ff10,
    $--theme-primary-2: #0396ff20,
    $--theme-primary-3: #0396ff30,
    $--theme-secondary: #8093ad,
    $--theme-secondary-1: #8093ad10,
    $--theme-secondary-2: #8093ad30,
    $--theme-color-red: #eb5757,
    $--theme-color-red-2: #eb575720,
    $--theme-color-orange: #f2994a,
    $--theme-color-orange-2: #f2994a20,
    $--theme-color-yellow: #f2c94c,
    $--theme-color-yellow-2: #f2c94c20,
    $--theme-color-green: #27ae60,
    $--theme-color-green-1: #27ae6010,
    $--theme-color-green-2: #27ae6020,
    $--theme-color-blue: #0396ff,
    $--theme-color-blue-2: #0396ff20,
    $--theme-color-purple: #9b51e0,
    $--theme-color-purple-2: #9b51e030
);

// Default theme
$theme-map-light: map-merge(
    $theme-map-defaults,
    (
        $--theme-surface: #fff,
        $--theme-background: #f5f7fb,
        $--theme-primary-text: #233458,
        $--theme-secondary-text: #8093ad,
        $--theme-color-green-2: #27ae6020
    )
);

// Override the default light theme
$theme-map-dark: map-merge(
    $theme-map-defaults,
    (
        $--theme-surface: #283042,
        $--theme-background: #1d2331,
        $--theme-primary-text: #edeffe,
        $--theme-secondary-text: #8093ad
    )
);

// Borders

$border-radius-lg: 8px; //12
$border-radius-md: 4px; //6
$border-radius-sm: 2px; //3

// Shadows

$primary-shadow-sm: 0px 10px 10px theme-var(primary-3);
$primary-shadow-md: 0px 10px 20px theme-var(primary-2);
$primary-shadow-lg: 0px 10px 30px theme-var(primary-1);

$border: 1px solid var(--theme-secondary-2);

$shadow-sm: 0px 10px 10px rgba(5, 29, 64, 0.08);
$shadow-md: 0px 10px 15px rgba(5, 29, 64, 0.04);
$shadow-lg: 0px 10px 30px rgba(5, 29, 64, 0.01);
