@import 'grid';
@import 'mixins';

a {
    text-decoration: none;
}

html {
    overflow-y: scroll;
}

body,
button,
input,
select,
textarea {
    font-family: 'Gilroy', sans-serif;
    color: #667;
}

body {
    background: theme-var(background);
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif;
}

.container {
    @include make-container;
    @include make-container-max-widths;
}

.row {
    @include make-row;
}

.col {
    @include make-col-ready;
    @include make-col(24);
}

.spacer-b {
    margin-bottom: 30px;
}

.row-spacer {
    margin-right: -15px;
    margin-left: -15px;
}

$show-semantic: false;
@include s;


.feather {
    height: 22px;
    width: 22px;
    padding: 1px;
    display: block;
}

//style guidde

h1 {
    color: theme-var(primary-text);
    font-weight: bold;
    font-size: 32px; //24pt
}

h2 {
    color: theme-var(primary-text);
    font-weight: bold;
    font-size: 26.666667px; //20pt
}

h3 {
    color: theme-var(primary-text);
    font-weight: bold;
    font-size: 21.333333px; //16pt
}

h4 {
    color: theme-var(primary-text);
    font-weight: bold;
    font-size: 18px; // 14pt
}

p,
a {
    &.sm {
        font-size: 12px;
        font-weight: normal;
        color: theme-var(secondary-text);
    }

    //normal
    font-size: 16px;
    font-weight: normal;
    color: theme-var(secondary-text);

    &.md {
        font-size: 18.666667px;
        font-weight: normal;
        color: theme-var(secondary-text);
    }

    &.lg {
        font-size: 21.333333px;
        font-weight: normal;
        color: theme-var(secondary-text);
    }

    &.capitalize {
        color: theme-var(primary);
        text-transform: capitalize;
    }
}

span {
    font-size: 10pt;
    font-weight: normal;
    color: #233458;
}

button:focus {
    outline: 0 !important;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: 0 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    cursor: pointer;
}
